{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block code %}
<div class="container">
    <h3>this is something</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aperiam, ex quae nulla reiciendis maxime dolorum at consequatur asperiores vero libero assumenda. Incidunt ducimus architecto minima facilis deserunt esse vel similique error sit? Sed?</p>
    <h3>this is something</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aperiam, ex quae nulla reiciendis maxime dolorum at consequatur asperiores vero libero assumenda. Incidunt ducimus architecto minima facilis deserunt esse vel similique error sit? Sed?</p>
    <h3>this is something</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aperiam, ex quae nulla reiciendis maxime dolorum at consequatur asperiores vero libero assumenda. Incidunt ducimus architecto minima facilis deserunt esse vel similique error sit? Sed?</p>
    <h3>this is something</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aperiam, ex quae nulla reiciendis maxime dolorum at consequatur asperiores vero libero assumenda. Incidunt ducimus architecto minima facilis deserunt esse vel similique error sit? Sed?</p>
</div>
{% endblock code %}